### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [93]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [94]:
index = purchase_data.index

total_player = {"Total Players":[len(index)]}

total_player_df = pd.DataFrame(total_player)

total_player_df

   Total Players
0            780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [131]:
purchase_data_df = pd.DataFrame(purchase_data)

unique = purchase_data_df["Item Name"].unique()
num_items = len(unique)

average = purchase_data_df["Price"].mean()

num_purch = purchase_data_df["Age"].count()

total_rev = purchase_data_df["Price"].sum()

basic_calc = {"Number of Unique Items":[num_items], "Average Price":[average], "Number of Purchases":[num_purch], "Total Revenue":[total_rev]}
basic_calc_df = pd.DataFrame(basic_calc)

basic_calc_df["Average Price"] = basic_calc_df["Average Price"].map("${:,.2f}".format)
basic_calc_df["Total Revenue"] = basic_calc_df["Total Revenue"].map("${:,.2f}".format)

basic_calc_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [158]:
gender_demographic = pd.DataFrame(purchase_data_df["Gender"].value_counts())

total_players = purchase_data_df["SN"].count()

gender_percentage = (purchase_data_df["Gender"].value_counts()/total_players)*100
gender_percentage

gender_demographic["Percentage of Players"] = gender_percentage
gender_demographic

#order_gender_demographic = gender_demographic[["Percentage of Players", "Gender"]]
#order_gender_demographic

final_demographic = order_gender_demographic.rename(columns={"Gender":"Total Players"})
final_demographic["Percentage of Players"] = final_demographic["Percentage of Players"].map("{:,.2f}%".format)

final_demographic

                       Total Players Percentage of Players
Male                             652                83.59%
Female                           113                14.49%
Other / Non-Disclosed             15                 1.92%


##Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [157]:
group_gender_df = purchase_data_df.groupby(["Gender"])

#puchase count
num_purch = group_gender_df["Purchase ID"].count()

#average purchase price
average = group_gender_df["Price"].mean()

#total purchase per person/gender
total_rev = group_gender_df["Price"].sum()

group_gender = {"Number of Purchases":[num_purch], "Average Price":[average], "Total Revenue":[total_rev]}
final_group_gender = pd.DataFrame(group_gender)

#final_calc_df["Average Price"] = final_calc_df["Average Price"].map("${:,.2f}".format)
#final_calc_df["Total Revenue"] = final_calc_df["Total Revenue"].map("${:,.2f}".format)

final_group_gender

,Number of Purchases,Average Price,Total Revenue
0,Gender Female 113 Male ...,Gender Female 3.203009 Male ...,Gender Female 361.94 Male ...

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame