### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [8]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [9]:
total_player = {"Total Players": [purchase_data["SN"].nunique()]}

total_player_df = pd.DataFrame(total_player)

total_player_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
purchase_data_df = pd.DataFrame(purchase_data)

unique = purchase_data_df["Item Name"].unique()
num_items = len(unique)

average = purchase_data_df["Price"].mean()

num_purch = purchase_data_df["Age"].count()

total_rev = purchase_data_df["Price"].sum()

basic_calc = {"Number of Unique Items":[num_items], "Average Price":[average], "Number of Purchases":[num_purch], "Total Revenue":[total_rev]}
basic_calc_df = pd.DataFrame(basic_calc)

#format average price and total revenue into dollar ammounts with $sign
basic_calc_df["Average Price"] = basic_calc_df["Average Price"].map("${:,.2f}".format)
basic_calc_df["Total Revenue"] = basic_calc_df["Total Revenue"].map("${:,.2f}".format)

basic_calc_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [11]:
#group data by gender
group_gender_df = purchase_data_df.groupby(["Gender"])

#calculate total players by gender/ remove duplicates
gender_total = group_gender_df["SN"].nunique()
#gender_total

#calculate total players / remove duplicates
total_players = purchase_data_df["SN"].nunique()

#calculate percent by gender by dividing total players by gender by total players. 
#format data into percentage
gender_percentage = ((gender_total/total_players)*100).map("{:,.2f}%".format)

#print dataFrame summary with new columm headers
pd.DataFrame({"Total Count": gender_total, "Percentage of Players": gender_percentage})

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
#group data by gender = group_gender_df from above
#puchase count = gender_total from above

#average purchase price by gender
average_price = group_gender_df["Price"].mean()
                 #.map("${:,.2f}".format))

#total purchase by gender
total_purch_value = group_gender_df["Price"].sum()
                     #.map("${:,.2f}".format))

av_price_per_person = (total_purch_value/gender_total)

pd.DataFrame({"Purchase Count": gender_total.map("${:,.2f}".format), "Average Purchase Price": average_price.map("${:,.2f}".format), 
              "Total Purchase Value": total_purch_value.map("${:,.2f}".format), "Average Total Purchase Per Person": av_price_per_person.map("${:,.2f}".format)})

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Gender,,,,
Female,$81.00,$3.20,$361.94,$4.47
Male,$484.00,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,$11.00,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [24]:
bins = [0, 10, 15, 20, 25, 30, 35, 40, 45]

group_names = ["<10", "10-14", "15-20", "21-25", "26-30", "31-35", "36-40", "41+"]

purchase_data_df["Age Demographics"] = pd.cut(purchase_data_df["Age"], bins, labels=group_names, include_lowest=True)

purchase_data_df.head()

age_group = purchase_data_df.groupby("Age Demographics")

age_total = age_group["SN"].nunique()

#age_total

age_percent = ((age_total/total_players)*100).map("{:,.2f}%".format)

pd.DataFrame({"Total Count": age_total, "Percent of Players": age_percent})

                  Total Count Percent of Players
Age Demographics
<10                        24              4.17%
10-14                      41              7.12%
15-20                     150             26.04%
21-25                     232             40.28%
26-30                      59             10.24%
31-35                      37              6.42%
36-40                      26              4.51%
41+                         7              1.22%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [49]:
#average purchase price by age
average_price_age = (age_df["Price"].mean().map("${:,.2f}".format))

#age_total from above

#total purchase by age
#total_purch_value_age = (age_df["Price"].sum().map("${:,.2f}".format))

#av_price_per_person_age = ((total_purch_value_age/age_total).map("${:,.2f}".format))

pd.DataFrame({"Purchase Count": 0, "Average Purchase Price": 0, 
              "Total Purchase Value": 0, "Average Total Purchase Per Person": 0})

KeyError: 'Price'

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame