### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#count total number of players- some repeat so count unique
total_player = {"Total Players": [purchase_data["SN"].nunique()]}

#make into dataframe to print
total_player_df = pd.DataFrame(total_player)

total_player_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#make csv into dataframe
purchase_data_df = pd.DataFrame(purchase_data)

#count number of uniqu items 
unique = purchase_data_df["Item Name"].unique()
num_items = len(unique)

#find average purchase price
average = purchase_data_df["Price"].mean()

#count total number of purchases
num_purch = purchase_data_df["Age"].count()

#add total number of purchases
total_rev = purchase_data_df["Price"].sum()

#print dataFrame with new headers and calculated values
basic_calc = {"Number of Unique Items":[num_items], "Average Price":[average], "Number of Purchases":[num_purch], "Total Revenue":[total_rev]}
basic_calc_df = pd.DataFrame(basic_calc)

#format average price and total revenue into dollar amounts with $sign
basic_calc_df["Average Price"] = basic_calc_df["Average Price"].map("${:,.2f}".format)
basic_calc_df["Total Revenue"] = basic_calc_df["Total Revenue"].map("${:,.2f}".format)

basic_calc_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#group data by gender
group_gender_df = purchase_data_df.groupby(["Gender"])

#calculate total players by gender/ remove duplicates
gender_total = group_gender_df["SN"].nunique()
#gender_total

#calculate total players / remove duplicates
total_players = purchase_data_df["SN"].nunique()

#calculate percent by gender by dividing total players by gender by total players. 
#format data into percentage
gender_percentage = ((gender_total/total_players)*100).map("{:,.2f}%".format)

#print dataFrame summary with new columm headers
pd.DataFrame({"Total Count": gender_total, "Percentage of Players": gender_percentage})

                       Total Count Percentage of Players
Gender
Female                          81                14.06%
Male                           484                84.03%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
#group data by gender = group_gender_df from above
#puchase count = gender_total from above

#average purchase price by gender
average_price = group_gender_df["Price"].mean()
               
#total purchase by gender
total_purch_value = group_gender_df["Price"].sum()
                  
av_price_per_person = (total_purch_value/gender_total)

#create dataframe with headers and calculated values in currency format
pd.DataFrame({"Purchase Count": gender_total, 
              "Average Purchase Price": average_price.map("${:,.2f}".format), 
              "Total Purchase Value": total_purch_value.map("${:,.2f}".format), 
              "Average Total Purchase Per Person": av_price_per_person.map("${:,.2f}".format)})

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Gender,,,,
Female,81,$3.20,$361.94,$4.47
Male,484,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,11,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [6]:
bins = [0, 10, 15, 20, 25, 30, 35, 40, 45]

group_names = ["<10", "10-14", "15-20", "21-25", "26-30", "31-35", "36-40", "41+"]

purchase_data_df["Age Demographics"] = pd.cut(purchase_data_df["Age"], bins, labels=group_names, include_lowest=True)

purchase_data_df.head()

age_group = purchase_data_df.groupby("Age Demographics")

age_total = age_group["SN"].nunique()

#age_total

age_percent = ((age_total/total_players)*100).map("{:,.2f}%".format)

pd.DataFrame({"Total Count": age_total, "Percent of Players": age_percent})

                  Total Count Percent of Players
Age Demographics
<10                        24              4.17%
10-14                      41              7.12%
15-20                     150             26.04%
21-25                     232             40.28%
26-30                      59             10.24%
31-35                      37              6.42%
36-40                      26              4.51%
41+                         7              1.22%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
#average purchase price by age
average_price_age = age_group["Price"].mean()

#age_total from above

#total purchase by age
total_purch_value_age = age_group["Price"].sum()

av_price_per_person_age = ((total_purch_value_age/age_total).map("${:,.2f}".format))

pd.DataFrame({"Purchase Count": age_total, "Average Purchase Price": average_price_age.map("${:,.2f}".format), 
              "Total Purchase Value": total_purch_value_age.map("${:,.2f}".format), 
              "Average Total Purchase Per Person": av_price_per_person_age})

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase Per Person
Age Demographics,,,,
<10,24,$3.40,$108.96,$4.54
10-14,41,$2.90,$156.60,$3.82
15-20,150,$3.11,$621.56,$4.14
21-25,232,$3.02,$981.64,$4.23
26-30,59,$2.88,$221.42,$3.75
31-35,37,$2.99,$155.71,$4.21
36-40,26,$3.40,$112.35,$4.32
41+,7,$3.08,$21.53,$3.08

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
#Group by player/spender
group_player_df = purchase_data_df.groupby(["SN"])

#count total purchases
purch_count = group_player_df["Item ID"].count()

#sum up total purchases
total_purch = group_player_df["Price"].sum()

#divide total purchase price by total purchases
average_purch = (total_purch/purch_count).map("${:,.2f}".format) 

summary_df = pd.DataFrame({"Purchase Count": purch_count, "Average Purchase Price": average_purch, 
              "Total Purchase Value": total_purch.map("${:,.2f}".format)})

#sort data by person who spent the most $
final_df = summary_df.sort_values('Purchase Count', ascending=False) 
final_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Iral74                    4                  $3.40               $13.62
Idastidru52               4                  $3.86               $15.45
Asur53                    3                  $2.48                $7.44
Inguron55                 3                  $3.70               $11.11

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [9]:
pop_item_df = purchase_data_df[["Item ID", "Item Name", "Price"]]
#pop_item_df.head()

#group items by Item ID and Item Name
pop_item_group = pop_item_df.groupby(["Item ID", "Item Name"])

#count total purchases
pop_count = pop_item_group["Price"].count()

#sum up total price of purchases
pop_total = pop_item_group["Price"].sum()

#divide total price by total number of purchase in groupby
pop_average = (pop_total/pop_count)

#print dataframe with currency formating
summary_df = pd.DataFrame({"Purchase Count": pop_count, "Average Item Price": pop_average.map("${:,.2f}".format), 
              "Total Purchase Value": pop_total.map("${:,.2f}".format)})

#sort dataframe in descending order by Purchase count
summary_df = summary_df.sort_values('Purchase Count', ascending=False) 

summary_df.head()

,,Purchase Count,Average Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
#reprint dataFrame from above but with out currency formating so Total Purchase Value isnt a string
summary2_df = pd.DataFrame({"Purchase Count": pop_count, "Average Item Price": pop_average, 
              "Total Purchase Value": pop_total})

#sort by Total Purchase Value
summary2_df = summary2_df.sort_values('Total Purchase Value', ascending=False) 

#summary2_df.head()

#re-format the currency data in summary dataFrame
summary2_df["Total Purchase Value"] = summary2_df["Total Purchase Value"].map("${:,.2f}".format)
summary2_df["Average Item Price"] = summary2_df["Average Item Price"].map("${:,.2f}".format)

summary2_df.head()

,,Purchase Count,Average Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80